body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans',sans-serif;
  background:#f4f4ef;
}

.center {
  text-align: center;
}
a {
  color:#636363;
  text-decoration: none;
  transition:all 0.5s ease-in;
}


a:hover {
  text-decoration: underline;
}


/* Navigation */

.navbar {
  background:#fff;
  text-align:center;
  padding:1.5rem 0;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
}


.navbar h2 {
  margin:0;
  font-weight:200;
  font-size:30px;
  letter-spacing: 4px;
  font-family:'Work Sans',sans-serif;
}

.navbarProfile{
    margin-left: 2%;
    text-align: center;
}

.navbarProfile ul{
    list-style-type: none;
}

.navbarProfile li{
    margin-top: 5%;
}

.adminButton{
    background-color: #ff7777;
    width: 70px;
    height: 20px;
    border: 2px solid black;
    float: left;
    margin-left: -5%;
 }

.userButton{
    background-color: #02b3e4;
    width: 70px;
    height: 20px;
    border: 2px solid black;
    float: right;
}

/* Post Styles */

.postForm {
    position: center;
    padding: 5%;
    margin-left: 20%;
}

.imgPreview {
    text-align: center;
    margin: 20px 20px;
    height: 200px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}

img {
    width: 50%;
    height: 70%;
    margin-top: 7%;
}

/* All Posts */

.allPost{
  position: center;
  padding: 5%;
  margin-left: 20%;
}

/* Post */

.postContent{
  background-color: white;
  width: 20%;
  padding: 2%;
  border: 1px solid black;
  margin-top: 2%;
}

.imgPost{
  margin-bottom: 2%;
}

/* Button */

.edit {
  background:#02b3e4;;
  border:none;
  text-align: center;
  font-size:15px;
  padding:10px 25px;
  border-radius:15px;
  cursor:pointer;
  margin-right:auto;
  outline: none;
  color:#fff;
  margin-top: 24%;
  float: left;
}

.delete {
  background: #ff7777;
  border:none;
  text-align: center;
  font-size:15px;
  padding:10px 25px;
  border-radius:15px;
  outline: none;
  color:#fff;
  margin-left: 3%;
  margin-top: 2%;
}

.update {
  background: #ff7777;
  border:none;
  text-align: center;
  font-size:15px;
  padding:10px 25px;
  border-radius:15px;
  outline: none;
  color:#fff;
  margin-left: 3%;
  margin-top: 2%;
}

/* Login */

.userLogin{
    background-color: white;
    width: 20%;
    padding: 2%;
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 30%;
}

/* Product */

.productPage{
    text-align: center;
    margin-top: 5%;
}
.imgProduct{
    width: 20%;
    margin-top: 3fit%;
}

.titleProduct{
    margin-top: 0%;
    margin-bottom: -5px;
}

.buy {
    background: #ff7777;
    border:none;
    text-align: center;
    font-size:15px;
    padding:10px 25px;
    border-radius:15px;
    outline: none;
    color:#fff;
    margin-left: 1%;
}

.productContent{
    background-color: white;
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}